{% load static %}
<div class="row bg-primary" id="header-component">
    <div class="col-2 d-flex justify-content-center align-items-center p-2">
        <img class="perp-logo img-fluid" src="{% static 'images/logo.png' %}" alt="School Logo">
    </div>
    <div class="col">
        <div class="text-light text-center py-auto d-flex justify-content-center" style="min-height:100%;">
            <h4 class="align-self-center">UNIVERSITY OF PERPETUAL HELP SYSTEM GMA</h4>
        </div>
    </div>
    <div class="col-2 d-flex justify-content-center align-items-center p-2">
        <img class="perp-logo img-fluid" src="{% static 'images/uphsl-eng-logo.png' %}" alt="School Logo">
    </div>
</div>

<div class="row bg-secondary py-1"></div>