{% extends 'base.html' %}
{% load static %}

{% block title %} Welcome to Tasker {% endblock title %}

{% block styles %}

<!--<link rel="stylesheet" href="{% static 'css/index.css' %}" />-->

{% endblock styles %}
{% block content %}

{% include 'header.html' %}


<div id="hero" style="height:80vh;" class="d-flex justify-content-center align-items-center text-light">
	<div class="d-flex">
		<div class="d-flex align-items-center bg-secondary rounded p-4 animate__animated animate__fadeInDown">
			<p class="h1 text-right text-dark">
				<strong><strong>TASKER: </strong>WEB-BASED TEAM TASK MANAGER</strong>
			</p>
		</div>
		<div class="container text-dark">
			<div class="card text-center p-4 rounded animate__animated animate__fadeInUp">
				<a href="{% url 'account_login' %}" class="btn btn-primary btn-lg btn-block rounded">Log In</a>
				<p class="pt-3">or</p>
				<a href="{% url 'account_signup' %}" class="btn btn-secondary btn-lg btn-block rounded">Register</a>
			</div>
		</div>
	</div>
</div>




<style>
#navbar {
	display: none;
}

#hero {
	background-image: url({% static 'images/building.gif' %});
	background-position: center;
  	background-repeat: no-repeat;
	background-size: cover;
	background-blend-mode: multiply;
	background-color: #666666;
}
</style>


{% endblock content %}
{% block scripts %}


{% endblock scripts %}
