{% extends 'base.html' %}
{% load static %}

{% block title %} Welcome to Tasker {% endblock title %}

{% block styles %}

<!--<link rel="stylesheet" href="{% static 'css/index.css' %}" />-->

{% endblock styles %}
{% block content %}

{% include 'header.html' %}


<div style="height:90vh;" class="bg-primary d-flex justify-content-center align-items-center text-light">
	<div class="d-flex">
		<div class="d-flex align-items-center animate__animated animate__fadeInDown">
			<p id="jumbotron" class="h1 text-right">CHARACTER BUILDING IS NATION BUILDING</p>
		</div>
		<div class="container text-dark">
			<div class="card text-center p-4 rounded animate__animated animate__fadeInUp">
				<a href="{% url 'account_login' %}" class="btn btn-primary btn-lg btn-block rounded">Log In</a>
				<p>or</p>
				<a href="{% url 'account_signup' %}" class="btn btn-secondary btn-lg btn-block rounded">Register</a>
			</div>
		</div>
	</div>
</div>




<style>
#navbar {
	display: none;
}

#jumbotron {
	
}
</style>


{% endblock content %}
{% block scripts %}


{% endblock scripts %}
