<div>
    <div class="comment-block">
        <div class="d-flex">
            <img class="rounded-circle commenter-img" src="https://randomuser.me/api/portraits/women/72.jpg">
            <div>
                <p>Jane Doe</p>
                <p>May 6, 2021, 9:21 a.m.</p>
            </div>
        </div>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime placeat sunt recusandae a illum nostrum eaque illo eveniet, optio magnam debitis vel inventore. Facere, tenetur nemo modi eum tempore accusantium.</p>
    </div>
</div>

{% comment %} style {% endcomment %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/comments.css' %}">