{% extends 'base.html' %}
{% load static %}

{% block title %}Tasker Dashboard{% endblock title %}
{% block content %}

{% include 'header.html' %}

<div class="row">
    {% include 'side-nav.html' %}
    <div class="col animate__animated animate__fadeIn">
        <div class="container mb-3 animate__animated animate__fadeIn">
        <hr>
            <h3>Departments</h3>
            <div class="d-grid gap-2 text-left">
                {% for department in departments %}
                    <a href="{% url 'department' department.id %}" class="btn btn-outline-primary rounded">{{ department }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}
{% block scripts %}
    <script src="{% static 'js/dashboard.js' %}"></script>
{% endblock scripts %}
