{% extends 'base.html' %}
{% block title %}Tasker | your tasks{% endblock title %}
{% block content %}
    {% include 'header.html' %}

    <div class="row">
        {% include 'side-nav.html' %}
        <div class="col">
            <div class="container">
                <hr>
                <h3>Task Feed</h3>

                <form method="GET" class="row" id="filter-form">
                    {% csrf_token %}
                    {{ filter.form.as_p }}
                    <div class="container">
                        <input type="submit" value="Search" class="btn btn-primary rounded">
                    </div>
                </form>

                <hr>

                <!-- tasks -->
                <div>
                    {% for task in tasks %}
                        <div class="card m-3 rounded border-primary">
                            <div class="card-body">
                                <a href="{% url 'department' task.department.all.first.id %}">
                                    <h5 class="card-title">{{ task }}</h5>
                                </a>
                                <p class="card-text text-muted">
                                    <span>Department: {{ task.department.all.first }}</span><br>
                                    <span>Target Date: {{ task.due_on }}</span><br>
                                </p>
                                <p class="card-text">
                                    <span>{{ task.description }}</span>
                                </p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block scripts %}
    <script>
        $('input[type="text"]').addClass('form-control rounded');
        $('select').addClass('form-select rounded');
        $('#filter-form > p').addClass('col-12 col-md-6 col-lg-4 col-xl-3');
    </script>
{% endblock scripts %}