{% extends 'base.html' %}
{% load static %}
{% block title %}
    Tasker | {% if task %}
                {{ task }}
            {% else %}
                new task
            {% endif %}
{% endblock title %}

{% block content %}



{% include 'header.html' %}

<div class="row animate__animated animate__fadeIn">
    {% include 'side-nav.html' %}
    <div class="col">
        <div class="container my-2">
            <hr>
            {% include 'back.html' %}
            <h1>Task Form</h1>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="d-flex justify-content-center">
                    <a href="#" class="btn btn-danger rounded m-1">Delete</a>
                    {% if task %}
                        <input class="btn btn-primary rounded m-1" type="submit" value="Update">
                    {% else %}
                        <input class="btn btn-primary rounded m-1" type="submit" value="Add">
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
</div>



{% endblock content %}
{% block scripts %}



    <script>
        /*
        added these bootstrap classes via jquery because it is not visible in 
        template only on final html output.
        */
        $('input[type="text"], input[type="date"]').addClass('form-control rounded');
        $('select').addClass('form-select rounded');
        $('label').addClass('form-label rounded');
        $('.errorlist').addClass('alert alert-danger pl-1 rounded');
    </script>



{% endblock scripts %}